* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #1f1f1f;
  color: white;
  height: 100vh;
  overflow: hidden;
}

.main {
  display: flex;
  height: 100vh;
}

.main__left {
  flex: 0.8;
  display: flex;
  flex-direction: column;
}

.main__right {
  flex: 0.2;
  display: flex;
  flex-direction: column;
  background-color: #242324;
  border-left: 1px solid #3D3D3D;
}

.main__videos {
  flex-grow: 1;
  background-color: black;
  padding: 20px;
  overflow: hidden; /* Empêche le conteneur de s'agrandir au-delà de l'écran */
  position: relative;
}

#video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 300px;
  gap: 20px;
  width: 100%;
  height: 100%;
  overflow-y: auto; /* Active le scroll vertical */
  padding-right: 5px;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transform: scaleX(-1); /* Effet miroir */
}

.main__controls {
  background-color: #1C1E20;
  color: #D2D2D2;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.main__controls__block {
  display: flex;
}

.main__controls__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
  min-width: 80px;
  cursor: pointer;
}

.main__controls__button:hover {
  background-color: #343434;
  border-radius: 5px;
}

.main__controls__button i {
  font-size: 24px;
}

.main__controls__button span {
  margin-top: 5px;
  font-size: 12px;
}

.leave_meeting {
  color: #EB534B;
}

.main__header {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #3D3D3D;
}

.main__chat_window {
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px;
}

.messages {
  list-style: none;
  padding: 0;
  margin: 0;
}

.messages li {
  margin-bottom: 10px;
}

.main__message_container {
  padding: 20px;
  display: flex;
}

#chat_message {
  flex-grow: 1;
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
}
